[flake8]
max-line-length = 79
exclude = .git,_pycache_,old,build,dist,venv,env,.env,.venv,migrations,tests,.code_quality,alembic
per-file-ignores =
    # Module level import not at top of file. This is due newrelic initialization.
    */app/_main_.py: E402
